$prefixClass: "ng-grid-col";

// attribute name of class whose value is prefixed (preceded) by "ng-grid-col".
[class^="#{$prefixClass}"] {
  min-height: 1px;
  flex: 0 0 100%;
  display: block;
  box-sizing: border-box;
}

@for $i from 1 through 24 {
  .#{$prefixClass}-span-#{$i} {
    flex-basis: (100% * $i / 24);
  }
}
@media screen and (max-width: 576px) {
  @for $i from 1 through 24 {
    .#{$prefixClass}-xs-#{$i} {
      flex-basis: (100% * $i / 24);
    }
  }
}

@media screen and (min-width: 576px) {
  @for $i from 1 through 24 {
    .#{$prefixClass}-sm-#{$i} {
      flex-basis: (100% * $i / 24);
    }
  }
}

@media screen and (min-width: 768px) {
  @for $i from 1 through 24 {
    .#{$prefixClass}-md-#{$i} {
      flex-basis: (100% * $i / 24);
    }
  }
}

@media screen and (min-width: 992px) {
  @for $i from 1 through 24 {
    .#{$prefixClass}-lg-#{$i} {
      flex-basis: (100% * $i / 24);
    }
  }
}

@media screen and (min-width: 1200px) {
  @for $i from 1 through 24 {
    .#{$prefixClass}-xl-#{$i} {
      flex-basis: (100% * $i / 24);
    }
  }
}
