<fieldset>
    <legend>Gutter settings</legend>
    <input type="range" name="gutter" min="0" max="48" step="8" [(ngModel)]="gutter" />
    <h4>Gutter = {{gutter}} px</h4>
</fieldset>

<ng-grid-row [gutter]="toNumber(gutter)">
    <ng-grid-col [md]="16" [sm]="24">
        <div class="content">
            <span>Column</span>
        </div>
    </ng-grid-col>
    <ng-grid-col [md]="8" [sm]="12">
        <div class="content">
            <span>Column</span>
        </div>
    </ng-grid-col>
    <ng-grid-col [md]="8" [sm]="12">
        <div class="content">
            <span>Column</span>
        </div>
    </ng-grid-col>
    <ng-grid-col [md]="8" [sm]="12">
        <div class="content">
            <span>Column</span>
        </div>
    </ng-grid-col>
    <ng-grid-col [md]="8" [sm]="12">
        <div class="content">
            <span>Column</span>
        </div>
    </ng-grid-col>
</ng-grid-row>