.content {
  display: flex;
  height: 140px;
  background: #00a0e9;
  margin: 10px 0;

  span {
    margin: auto;
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
  }
}

fieldset {
  margin: 24px auto;
  text-align: center;
}

legend {
  background-color: #333;
  color: #fff;
  padding: 10px 14px;
  margin-bottom: 14px;
  border-radius: 4px;
}

.divider {
  background: #ccc;
  height: 2px;
  margin: 24px 0;
}
